@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* My Custom Font Faimly NewShelter */

@layer base {
  @font-face {
    font-family: "Norwester";
    font-display: swap;
    src: url(./assets/fonts/norwester.otf) format("woff2");
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

